body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;                                    
}
/* Navbar Styles */
nav{
    display:flex;
    justify-content: space-between;
    height: 75px;
    align-items: center;
    padding: 0 50px;
    background: #020024;
   background: linear-gradient(318deg,rgba(2, 0, 36, 1) 22%, rgba(9, 9, 121, 1) 68%, rgba(41, 223, 255, 1) 100%);
    cursor: pointer;
    position:sticky;
    top:0px;
    color:white;
    z-index: 100;
    box-shadow: 10px -1px 13px 0px rgba(254, 254, 254, 0.6);
    transition: box-shadow 0.3s ease-in-out;
}
nav:hover{
     box-shadow: 10px -1px 20px 10px rgba(213, 206, 206, 0.76); 
        transition: box-shadow 0.3s ease-in-xout;
}


/* Navbar Links Styles */
nav div a {
    color: #ffffff;
    text-decoration: underline solid transparent;
    text-underline-offset: 8px;
    transition: text-decoration  0.15s ease-in-out;
}
nav div a:hover {
    text-decoration: underline solid ;
    transition: box-shadow 0.3s ease-in-out;
    color: #e6fb2f;
}

.Left-icons{
    display: flex;
    align-items: center;
    width:250px;
    justify-content: space-between;
}
div{
     cursor : pointer;
}
