.about {    
    padding: 20px;
    font-size: 18px;
    line-height: 1.6;
    margin: 20px 150px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 2px 10px 0 black;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}
@media (max-width: 900px) {
    .about {
        flex-direction: column;
        margin: 10px 20px;
        padding: 30px 10px;
    }
    .about div {
        margin-bottom: 20px;
    }
}
.about-section-content-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.about-section-content {
    padding:15px;
    color:azure;
    margin-top: 10px;
}