.container
{
    padding: 60px;
    width:40%;
    height:100%;
    margin-top:100px;
    display: flex;
    flex-direction: column;
}
.container-title ,.container-content , .button-container
{
    flex:1;
}
.button1, .button2
{
   margin:50px 10px;
   cursor: pointer;
   margin-right:5px;
}
.image-container
{
    border-radius:1000px;
}
.button1:hover,.button2:hover
{
   transform: translateY(-5px);
   transition: all 0.3s ease-in-out;
}
.button1
{
    background-color: rgb(249, 176, 30);
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    color:black;
    border-radius: 5px;
}
.button1:hover
{
    background-color: rgb(255, 200, 50);
}
.button2
{
    border: 1px solid black;
    background-color: white;
    color:black;
    padding: 9px 20px;
    font-size: 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.button2:hover{
    background-color: rgba(144, 133, 133, 0.469);
    border-color:  rgba(144, 133, 133, 0.400);
}
.container-title
{
    font-size: 17px;
    margin-bottom:3px;
    font-weight: 600;
    color:rgba(255, 255, 0, 0.789);
}
.container-header h1
{
    margin-top:0px;
}
.container-content p
{
    text-align:justify;
    font-size: 18px;
}
.flex-box
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    min-height: 100vh;
}
.container{
    flex:1
}
.image-container
{
   flex:1;
}
.button-container
{
    margin:30px 0 ;
    padding: 10px;
    display:flex;
}


@media (max-width: 900px) {
    .flex-box {
        flex-direction: column-reverse;
        padding: 20px;
        text-align: center;
    }
    .container {
        width: 100%;
        padding: 20px;
        margin-top: 0;
    }

    .image-container {
        width: 90%;
        max-width: 300px;
        transition: all 1s ease-in-out;
    }
    .image-container:hover
    {
        width: 100%;
        box-shadow: yellow;
    }
    .container-content,.container-title
    {
        padding:30px;
    }
    .button-container
    {
        margin-top: 0px;
        justify-content: center;
    }
    .p1 img {
         margin:0px;
    }
    .p1 div {
        margin:0px;
    }
}
.p1 img{
    width:100%;
    border-radius: 20px;
}
.p1 div{
    margin:20px;
}
