.footer-flex
{
    display: flex;
}
.right-footer, .left-footer
{
    flex:1;
}
.middle-footer
{
    flex:2;
    text-align: center;
    display: flex;
}
.Contact-footer,.footer-heading
{
    flex:1;
}
.footer-content
{
    background: linear-gradient(96deg,rgba(0, 26, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgb(3, 125, 150) 100%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding:50px;
    color:white;
}
.footer-content  h1
{
     display:inline-block;
}
.lets-connect
{
    display:flex;
}
.lets-connect div{
    flex:1;
    display: flex;
    align-items: center;
    font-size: 45px;
    font-weight: 900;
    font-weight: bold;
}
.space
{
    flex:1;
}
.btn
{
    display:flex;
    justify-content: end;
    align-items: center;
    margin-right:50px;
}
html {
    scroll-behavior: smooth;
}
ul
{
    list-style-type: none;
    padding: 0;
}

.footer-flex
{
    display: flex;
    gap: 30px;
}
.right-footer, .left-footer
{
    flex:1;
}
.middle-footer
{
    flex:2;
    text-align: center;
    display: flex;
    gap: 20px;
}

@media (max-width: 768px) {
    .footer-flex {
        flex-direction: column;
    }
    .middle-footer {
        flex-direction: column;
    }
    .lets-connect
    {
        flex-direction: column-reverse;
        align-items: center;
    }
    .lets-connect div 
    {
        margin:0;
    }
    .lets-connect div
    {
        font-size: x-large;
    }
    .footer-content
    {
        padding-top: 0px;
    }
}

input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    outline: none;
}
input{
    margin:10px;
    height:30px;
    width: 80%;
    padding:10px;
}
::placeholder {
    color: #75239c;
}
.social-icons
{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.social-icons a{
    size: 3rem;
    padding: 10px;
    border-radius: 5px;
    background-color: #605864;
    color: white;
    transition: all 0.15s ease-in-out;
}
.social-icons a:hover{
     background-color: #75239c;
}