html {
    scroll-behavior: smooth;
    scroll-padding-top: 85px;
}

a {
    text-decoration: none;
    font-size: 15px;
}
*
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(203, 195, 195);
}
body
{
    color: white;
    background: #050303;
    background: linear-gradient(-100deg,rgba(5, 3, 3, 0.98) 49%, rgba(133, 133, 133, 1) 100%);
}
hr{
    border-color: rgba(128, 128, 128, 0.401) ;
}
