.project-title{
    display: flex;
    justify-content: center;
    color: rgb(255, 254, 254);
    font-size: 2rem;
    margin-top:  20px;
    margin-bottom: 76px;
    text-decoration: solid underline rgb(250, 250, 250);
    text-underline-offset: 20px;
    font-weight: 900;
}
.p1
{
   background: #2A7B9B;
    background: linear-gradient(90deg,rgb(26 87 182) 0%, rgba(67, 65, 65, 0.687) 50%);
    margin: 10px 150px;
    padding: 60px 30px;
    margin-bottom: 76px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease-in-out;
}
.p1:hover
{
    margin-top: -10px;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease-in-out;
}
.p1 div
{
    flex:1;
    text-align: center;
}
.p1 .header1{
    color:rgb(243, 239, 239);
}

.header1 ,li a
{
    font-size: 30px;
    display: block;
    font-weight: bolder;
    margin: 20px;
    color:white;
}
@media (min-width: 900px) {
    .p1:nth-child(even) {
        flex-direction: row-reverse;
    }
}
@media (max-width: 900px) {
    .p1 {
        flex-direction: column-reverse;
        margin: 20px 20px;
        padding: 30px 10px;
    }
    .p1 div {
        margin-bottom: 20px;
    }
}